@import 'libs/bootstrap-reboot.min';
@import 'libs/bootstrap-grid.min';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

@import 'base/variables';
@import 'base/mixins';

* {
    font-family: 'Roboro', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
}

.divider {
    width: 148px;
    height: 2px;
    background-color: $main-color;
    margin: 20px auto 17px auto;
    
}

@import 'blocks/menu';
@import 'blocks/promo';
@import 'blocks/buttons';
@import 'blocks/title';
@import 'blocks/advantages';
@import 'blocks/work';
@import 'blocks/agent';
@import 'blocks/delivery';
@import 'blocks/consultation';
@import 'blocks/form';
@import 'blocks/managers';
@import 'blocks/scheme';
@import 'blocks/questions';
@import 'blocks/map';
@import 'blocks/footer';