.promo {
    min-height: 679px;
    background: url('../img/bg_main.jpg') center center / cover no-repeat;
    padding: 132px 0 82px 0;
    &__header {
        margin-bottom: 0;
        font-size: 24px;
        font-weight: 300;
        color: $second-color;
        text-align: center;
    }
    &__subheader {
        margin-top: 26px;
        font-size: 72px;
        font-weight: 700;
        text-transform: uppercase;
        color: $main-color;
        text-align: center;
    }
    &__text {
        font-size: 42px;
        font-weight: 400;
        text-transform: uppercase;
        color: $second-color;
        text-align: center;
    }
    hr {
        position: relative;
        margin: 38px 180px 27px 155px;
        background-color: $second-color;
        width: 483px;
        &::before {
            content: '';
            position: absolute;
            width: 15px;
            height: 15px;
            background-color: $second-color;
            border-radius: 100%;
            top: -7px;
            right: -15px;
            transform: translateX(50%);
        }
    }
    hr.left {
        right: -513px;
        top: -40px;
        &::before{
            display: none;
        }
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 17px;
    }
    &__img {
        display: block;
        margin: 0 auto;
    }
    &__descr {
        margin-top: 13px;
        font-size: 16px;
        line-height: 22px;
        font-weight: 300;
        color: $second-color;
        text-align: center;
    }
    &__btn {
        display: block;
        margin: 39px auto;
    }
}